export const books: Book[] = [
  new Book('The willpower instinct', '<ISBN>', '<Cover>', [<Autoren],  '<Description>'),
  new Book('Wie Elon Musk die Welt verändert', '<ISBN>', '<Cover>', [<Autoren], '<Description>'),
  new Book('Speed Reading: Schneller lesen', '<ISBN>', '<Cover>', [<Autoren], '<Description>')
]
